/*body{
    margin: 0%;
    font-family: sans-serif;
    background-color:white;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}
*/