{% extends 'base.html' %}

<!--
    class CadastroCachorroForm(FlaskForm):
    nome = StringField("Nome",[DataRequired()]) 
    idade = IntegerField("Idade",[DataRequired()])
    raca = StringField("Raça",[DataRequired()])
    porte = RadioField("Porte Pequeno",choices=[('Pequeno','menor ou igual a 35 cm de altura'),
                                                ('Medio','entre 36 e 49 cm de altura'),
                                                ('Grande','maior que 49 cm de altura')])
    cadastrar_cachorro = SubmitField("Cadastrar")
-->

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}"> 
    <div class="bg-secondary">
        <h1 class="display-3 text-center" style="padding-top: 3%;padding-bottom: 2%; ">Cadastrar cachorro</h1>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" id="icon" alt="icone">
                </div>
                <br>
                <form action="/cadastrar_cachorro" method= post >
                
                    {{form.hidden_tag()}}
                    <h6 class="fadeIn second">{{ form.nome.label}}</h6>
                    {{ form.nome(class="fadeIn second",placeholder="Nome") }}
                    
                    <h6 class="fadeIn third">{{ form.idade.label }}</h6>
                    {{ form.idade(class="fadeIn third",placeholder="Idade") }}
                    <h6 class="fadeIn third">{{ form.raca.label }}</h6>
                    {{ form.raca(class="fadeIn third",placeholder="Raça") }}
                    
                    <br><br><h6 class="fadeIn fourth">{{ form.porte.label }}</h6>
                    {{ form.porte(class="fadeIn fourth") }}
                    {{ form.cadastrar_cachorro(class="fadeIn fourth") }}
                </form>
            </div>
        </div>
    </div>
    <!--

        <div class="bg-secondary">
	    <br><br><br>

	    <div class="wrapper fadeInDown">
		  <div id="formContent">
		    


		    <div class="fadeIn first">
                    <img src="img/logo.png" id="icon" alt="icone logo" />
                  </div>
      
                  <form>
                    <input type="text" id="" class="fadeIn second" name="" placeholder="Nome"><br>
                    <input type="number"placeholder="Idade" class="fadeIn second" name="quantity" min="0" max="999999999"><br>
                    <input type="text" id="" class="fadeIn second" name="" placeholder="Raça"><br><br>
                    <label class="fadeIn third"> Porte do cachorro </label><br><br>
                    <label for="Pequeno" class="fadeIn second">Pequeno</label>
                    <input type="radio" name="gender" class="fadeIn third" value="Pequeno" checked>
                    <label for="Médio" class="fadeIn second"> Médio</label>
                      <input type="radio" name="gender" class="fadeIn third" value="Médio" checked>
                      <label for="Grande" class="fadeIn second">Grande</label>
                      <input type="radio" name="gender" class="fadeIn third" value="Grande"><br><br>
                    <input type="submit" class="fadeIn fourth" value="Cadastrar cachorro">
                  </form>
      
                  
      
                </div>
              </div>

    -->
{% endblock%}