{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}"> 
    <div class="bg-secondary">
        <h1 class="display-3 text-center" style="padding-top: 3%;padding-bottom: 2%;">Modificar quarto</h1>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"id="icon" alt="icone logo">
                </div>
                <br><br>
                <form action="/modificar_quarto/{{ quarto.numero }}" method= post>
                    {{form.hidden_tag()}}
                    <h6 class="fadeIn second">{{ form.limite_cachorros.label }}</h6>
                    {{ form.limite_cachorros(class="fadeIn second",placeholder="Limite de cachorros") }}
                    <br><br>
                    <h6 class="fadeIn third">{{ form.horario_inicial_funcionamento.label }}</h6>
                    {{ form.horario_inicial_funcionamento(class="fadeIn third") }}
                    <br><br>
                    <h6 class="fadeIn third">{{ form.horario_final_funcionamento.label }}</h6>
                    {{ form.horario_final_funcionamento(class="fadeIn third") }}
                    <br><br>
                    <h6 class="fadeIn fourth">{{ form.preco_hora.label }}</h6>
                    {{ form.preco_hora(class="fadeIn fourth",placeholder="Preço por hora") }}
                    <br><br>
                    <h6 class="fadeIn fourth">{{ form.porte_pequeno.label }}</h6>
                    {{ form.porte_pequeno(class="fadeIn fourth") }}
                    <br><br>
                    <h6 class="fadeIn fourth">{{ form.porte_medio.label }}</h6>
                    {{ form.porte_medio(class="fadeIn fourth") }}
                    <br><br>
                    <h6 class="fadeIn fourth">{{ form.porte_grande.label }}</h6>
                    {{ form.porte_grande(class="fadeIn fourth") }}
                    <br><br>
                    {{ form.criar(class="fadeIn fourth") }}
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

<!--

    <link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}"> 
    <div class="bg-secondary">
        <h1 class="display-3 text-center" style="padding-top: 3%;padding-bottom: 2%;">Agendar hospedagem</h1>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"id="icon" alt="icone logo">
                </div>
                <br><br>
                {% if erro %}
                    <p>ERRO: {{ erro }}</p>
                {% endif %}
                {% if preco %}
                    <p>Preço da hospedagem: {{ preco }}</p>
                {% endif %}
                <form action="/agendar/{{ quarto.numero }}" method= post >
                    {{form.hidden_tag()}}
                    <h6 class="fadeIn second">{{ form.data.label }}</h6>
                    {{ form.data(class="fadeIn second") }}
                    <br><br>
                    <h6 class="fadeIn third">{{ form.horario_inicio.label }}</h6>
                    {{ form.horario_inicio(class="fadeIn third") }}
                    <br><br>
                    <h6 class="fadeIn third">{{ form.horario_fim.label }}</h6>
                    {{ form.horario_fim(class="fadeIn third") }}
                    <br><br>
                    
                    <h6 class="fadeIn fourth">{{ form.cachorro.label }}</h6>
                    {{ form.cachorro(class="fadeIn fourth") }}
                    <br><br>
                    {{ form.agendar(class="fadeIn fourth") }}
                    {{ form.calcular_preco(class="fadeIn fourth") }}
                </form>
            </div>
        </div>
    </div>
-->